html {
  scroll-behavior: smooth;
  scroll-margin-top: 2em;
}
a:hover {
  text-decoration: none;
}
.fa-chevron-right,.fa-chevron-left {
  color:  var(--red);
}
.footer .fa-chevron-right,.footer .fa-chevron-left {
  color: #fff;
}
body {
  font-family: "Roboto Slab", serif;
  background-color: var(--warning-soft);
  position: relative;
}
#scrollTop{
  display: none;
  position:fixed;
  bottom: 43%;
  right: 5%;
  z-index: 20;
}


#navbarSupportedContent button {
  color: var(--red);
}
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0)!important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("../images/svg/hamburger icon.svg")!important;
}
.nav-section{
      position: absolute;
    width: 100%;
    z-index: 1;
}
.bg-warning-soft {
  background-color: var(--warning-soft);
}
.recipes .container-fluid,.testimonial .container-fluid {
  padding: 5% 10%;
}
.bg-danger-opacity {
  background-color: #db0812b0;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff!important;
  margin-right: 10px;
}
.buy-now {
  padding: 1% 3%;
}
/* divder css */
.divider {
  position: absolute;
  bottom: -10px;
}
.divider-1 {
  position: absolute;
  top: -7px;
}
.has-divder {
  position: relative;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 35px;
  background-size: 35px 100%;
  background-image: linear-gradient(
      135deg,
      var(--warning-soft) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, var(--warning-soft) 25%, transparent 25%);
  background-position: 0 0;
}
.rotate-180 {
  transform: rotate(180deg);
}
/* divder css */
.custom1 {
  padding-top: 7%;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.recipes-tab a {
  font-size: 16px;
  color: #202020;
  font-weight: 500;
}

.card__face .content,
.card__face .title {
  font-size: 16px;
  font-weight: 500;
}
.card__face .content {
  color: #202020;
}
.card__face .title {
  color: #db0812;
}
.card__face img {
  width: 100%;
  height: 100%;
}
.active-recipe {
  color: #db0812 !important;
  border-bottom: 2px solid;
}
.swiper-scrollbar {
  background:#fff!important;
  height: 4px !important;;
}
.swiper-scrollbar-drag{
  background:var(--red)!important;
}

.carousel-bg-1 {
  background-image: url("../images/carousel/bg-5.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-height {
  height:711px
}
.carousel-bg-2 {
  background-image: url("../images/carousel/bg-81.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-bg-3 {
  background-image: url("../images/carousel/bg-71.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-section-2 {
  position: relative;
}
.carousel-section-2 img{
  position: absolute;
  bottom:0;
}
.product-slider-section-3 {
  background-image: url("../images/product/Combined Shape-23.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.custom1 .owl-next{
  display:none;
}
.custom1 .owl-prev{
  display:none;
}
.feature-content h1,
.banner-content h1,
.steps-section h1,
.product-slider-section-2 h1,
.recipes-title h1,.testimonial h1 {
  font-family: "Caveat Brush", cursive;
}

.testimonial-slider span,.product-slider-section-3 span {
  font-weight: 500;
}
.product-slider-section-2 span {
  font-weight: 500;
  font-size: 14px;
}
.product-slider-section-3 {
  position: relative;
}
.product-slider-section-3 button {
  border-radius: 20px;
}


#carouselExampleIndicators .carousel-indicators .active {
  background-color: #fcc517;
}

.carousel-indicators {
  bottom: 60px;
}


.feature-images {
  padding: 5% 15%;
}
.steps-section .row {
  padding: 5% 10%;
}
.steps-slider .item {
  padding: 0 11%;
  text-align: center;
  position: relative;
}
.steps-slider .arrow{
    width: 30%!important;
    position: absolute!important;
    right: -65px!important;
    top: 57px!important;
}
.steps-slider{
  padding-bottom:10%;
}

.product-item {
  width: 260px;
  height: 80px;
  border-radius: 10px;
  background-color: #fff7da;
  color: #202020;
  height: 92px;
  padding: 4%;
}
.product-content {
  margin: auto;
}
.product-content:hover h6 {
  text-decoration: none;
}
.pc-hide{
  display: none !important;;
}


.product-click {
  background-color: #fff !important;
  border: 1px solid #db0812;
  color: #db0812;
}
.indian-swiper-container,.italian-swiper-container,.continental-swiper-container{
  height:560px;
  position: static!important;
}
.swiper-scrollbar {
  display: none;
}
.recipe {
  position: relative!important;
}

.swiper-button-next{
  right: -50px!important;
}
.swiper-button-prev {
  left: -50px!important;
}
.product-list-container {
  position: relative!important;
}

#product .swiper-wrapper,#product .swiper-container {
  position: static!important;
}


.owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.owl-nav .owl-prev {
  position: absolute;
  left: 0;

  /* color:var(--danger)!important;
    font-size: 20px!important; */
}
.owl-nav .owl-next {
  position: absolute;
  right: 0;

  /* color:var(--danger);
    font-size: 20px; */
}

.product-slider {
  width: 100%;
  display: grid;
  grid-template-areas: "section-1 section-2" "section-1 section-3";
  grid-template-columns: repeat(2, 1fr);
}
.product-slider-section-1 {
  grid-area: section-1;
}
.product-slider-section-2 {
  grid-area: section-2;
}
.product-slider-section-2 h1 {
  text-align: center;
}
.product-slider-section-3 {
  grid-area: section-3;
}
.rotate-356 {
  transform: rotate(356deg);

}
.add-on{
  position: relative;
  margin-bottom: 42px;
}
.add-on-btn {
  position: absolute;
  top: -14px;
  left: 241px;
  padding: 1% 5%;
}

.recipes-slider .item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 560px;
  padding: 4%;
}
.recipes-slider .item .caption {
  position: absolute;
  bottom: 10;
}

/* recipes card start */

.scene {
  width: 100%;
  height: 100%;
  perspective: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.recipe-card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  border-radius: 10px;
}

.recipe-card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-face-back {
  background-color: var(--warning-soft);
  padding: 7% 6%;
  transform: rotateY(180deg);
  border-radius: 10px;
}
.card__face .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 6;
}
.card__face .caption {
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 5;
}
.footer h1,.card__face .caption h1{
    font-family: "Caveat Brush", cursive;
}
.caption .row{
    padding: 9% 11%;
}
.caption .time span {
    font-size: 16px;
}
.caption .time img{
    width: 20px!important;
}
.swiper-button-prev,.swiper-button-next {
  color:var(--red)!important;
}
/* recipes card start */

.testimonial-slider img{
    width: 50px!important;
}
.name{
    font-size: 20px;
}
.social-icons img{
    width: 20px!important;
}
.social-icons .fb{
    width: 9px!important;

}
.footer-slider .item{
    padding:5%;
}
.footer{
  padding: 5% 0;
}
.carousel-control-next,.carousel-control-prev {
  display: none;
}
.op-50 {
  opacity: 0.5;
  font-weight: 700;
}
.feature-disclaimer span{
  font-size: 12px;
}
.flavour-of-south{
  height:555px;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
}
.term{
  text-align: right;
}

.buy-now-modal{
  display:none;
  position: fixed;
  right:0;
  top: 80px;
  padding: 1%;
  z-index: 18;
}

.buy-modal{
  border-radius: 5px;
  overflow: hidden;
}
.buy-now-mob{
  display:none;
}
.spikes{
  display: block;
}
.divider {
  display: none;
}
.half-circle{
  width: 21px;
  height: 44px;
  background-color: #2c2c2cdb;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 12px;

}
.circle-right {
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border-right: 0;
  top: -34px;
  right: 8px;
}
.circle-left {
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-left: 0;
  top: -34px;
  left: 8px;
}

@media screen and (max-width: 992px) {
.buy-now-mob{
  background-color: #fff;
  border: 1px solid #fff;
  color:#db0812;
  border-radius: 0px;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: -7px;
  font-size: 17px;
  z-index: 19;
  font-weight: 500;

}
.buy-now{
  display:none;
}
.buy-now-mob{
  display:block;
}
.buy-now-modal{
  display:none;
  position: fixed;
  top: inherit;
  bottom: 70px;
  padding: 3%;
  z-index: 18;
}


  .carousel-bg-1 {
    background-image: url("../images/carousel/bg-9.svg");
  }

  .bowl{
    display: none!important;
  }
  .carousel-bg-2 {
    background-image: url("../images/carousel/bg-11.jpg");
  }
  .carousel-bg-3 {
    background-image: url("../images/carousel/bg-10.svg");
  }
  .feature-content h1, .banner-content h1, .steps-section h1, .product-slider-section-2 h1, .recipes-title h1, .testimonial h1 {
    text-align: center;
  }
  .banner-content{
    padding: 0 10% 12% 10%;
    text-align: center;
  }
  .d-tab{
    display: block!important;
  }
  .product-slider {
    grid-template-areas: "section-2" "section-1" "section-3" !important;
    grid-template-columns: repeat(1, 1fr);
  }
  .product-slider-section-3 {
    background-image: url("../images/product/Combined Shape-23.svg");
    background-size: contain;
  }
  .product-slider-section-2 span {
    font-weight: 500;
    text-align: center;
    margin-bottom: 5%;
    display: block;
  }
  .add-on-btn {
    position: absolute;
    top: -9px;
    left: 262px;
  }
  .product-item {
    width: 200px;
  }
  .rev {
    flex-direction: column-reverse;
  }
  .feature-images {
    padding: 5% 0%;
  }
  .steps-section .row {
    padding: 5% 0%;
  }
  .recipes-title{
    padding: 5%;
  }
  .tab-list{
    margin-bottom:4%;
  }
  .recipes-slider .item {
    height: 418px;
  }
  .caption h1 {
    font-size: 35px;
  }
  .card__face .content, .card__face .title {
    font-size: 12px;
  }
  .testimonial .container-fluid {
    padding: 5% 4%;
  }
  
  .footer .col-lg-7,.footer .col-lg-4{
    display:flex;
    /* justify-content:center!important; */
  }
  .follow {
    display: flex;
    justify-content: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
  }
  .contact,.term{
    display: block !important;
    text-align: center;
    margin-bottom:5%;
  }
  .navbar-collapse {
    text-align: center;
    font-family: "Caveat Brush", cursive;
    font-size: 40px;
  }
  .bg-danger-opacity {
      background-color:#db0812;
      height:100%;
  }
  .carousel-bg-3,.carousel-bg-2{
    display:none;
  }
  #scrollTop{
    display: block;
    position:fixed;
    bottom: 50%;
    right: 5%;
    z-index: 20;
  }
  .spikes{
    display: none;
  }
  .divider {
    display: block;
  }
  .circle-right {
    
    top: -34px;
    right: 3px;
  }
  .circle-left {
    
    top: -34px;
    left: 2px;
  }
}

@media only screen and (max-width: 600px) {
 .mb-40{
   margin-bottom:40%;
 }
 .mob-hide{
  display: none !important;;
}
.pc-hide{
  display: block !important;;
}

  .bowl{
    display: none;
  }
  .carousel-bg-1 {
    background-image: url("../images/carousel/bg.svg");
  }
  .carousel-height{
    height: auto;
    margin-top: 25%;
  }
  .banner-content{
    text-align:center;
    margin-bottom: 25%!important;
    padding-right: 15px;
    padding-left: 15px;
  }
  .banner-content .display-2{
    font-size: 55px;
  }
  .banner-content h5{
    font-size: 18px;
  }
  .carousel-bg-3 .banner-content,.carousel-bg-2 .banner-content {
    padding: 65% 6% 1% 6%;
    text-align: center;
  }
  .rotate-356 {
    transform: rotate(360deg);
  }
  .add-on-btn {
    position: absolute;
    top: 10px;
    left: 123px;
  }
  .product-slider-section-3{
    height: 118%;
    width: 106%;
  }
  .product-slider .col-10 {
    padding-right:16%;
    text-align: center;
  }

  .carousel-bg-2 {
    background-image: url("../images/carousel/bg-11.jpg");
  }
  .carousel-bg-3 {
    background-image: url("../images/carousel/bg-10.svg");
  }

  
  .product-slider-section-2 .display-3 {
    font-size: 40px;
    text-align: center;
    margin-top: 15%;
  }
  .product-slider-section-2 {
    text-align: center;
    margin-bottom:10%;
  }
  /* .product-slider-section .container-fluid{
    padding:0px !important;
  } */
  .product-slider-section-3 {
    background-image: url("../images/product/Combined Shape-2.svg");
  }
  .product-item {
    height: 67px;
  }
  /* .product-slider-section .owl-carousel .owl-item {
    width: 354px!important;
    margin-right: 0px;
  } */
  /* .product-slider-section .owl-carousel .owl-stage {
    padding: 0px !important;
  } */
  .recipes .container-fluid {
    /* padding: 5% 0; */
  }
  .swiper-scrollbar {
    display: block;
  }
  .add-on-btn {
    position: absolute;
    top: -9px;
    left: 114px;
}
  .pad-0 {
    padding: 0px !important;
  }
  .testimonial-slider span, .product-slider-section-3 span {
    font-weight: 600;
    font-size: 12px;
  }
  .product-slider-section-2 .owl-item{
    width: 270px!important;
  }

  .product-slider-section-2 .swiper-slide {
    width: 60%;
  }
  .flavour-of-south{
    height:auto;
  }
  .col-sm-6 {
    width: 50%!important;
  }
  .feature-images .col-sm-6 {
    padding-bottom: 6%;
  }
  .feature-images .col-sm-6 h5{
    font-size: 15px;
  }
  .feature-disclaimer span{
    font-size: 10px;
  }

  .steps-section h1,.feature-content h1{
    font-size:45px;
  }

  .steps-slider h6 {
    text-align: center;
    font-size:14px;
  }

  .steps-slider .item {
    padding:0 10%;
  }
  .steps-slider .arrow{
    width: 39%!important;
    right: -50px!important;
    top: 0px!important;
  }
  .product-list img{
    width: 80% !important;;
  }
  .product-item {
    width: auto;
  }
  .d-sm-none{
    display: none !important;
  }
  .feature-disclaimer{
    padding-bottom: 5%;
  }
  .step-title {
    padding: 0 15%;
  }
  
  .recipes-tab a {
    font-size: 14px;
  }
  .recipes-slider .item {
    height: 560px;
  }
  .recipe .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .card__face .content, .card__face .title {
    font-size: 15px;
    font-weight: 500;
}
.swiper-button-prev,.swiper-button-next {
    display: none!important;
  }
  .card__face .caption {
    bottom: 170px;
}
.recipes-title h1, .testimonial h1 {
  font-size: 53px;
}
.follow {
  display: block!important;
  text-align: center;
}
.contact a {
  display:block;
  margin-right: 0!important;
  margin-bottom: 5%;
  text-align:center;
}
.contact {
  margin-bottom: 5%;
}
.term{
  padding: 0 12%;
}
#scrollTop{
  display: block;
  position: absolute;
  bottom: 780px;
  right: 5%;
  z-index: 20;
}

    
}

@media only screen and (max-width: 320px) {
.footer .display-4 {
  font-size:10px;
}
}